output-dir="./tests_robot/results"
languages = ["en"]
default-profiles = "simulation"
skip-teardown-on-exit = true


[profiles.worker]
variables = { TARGET = "url", URL = "COM22" }
excludes = [ "descaler" ]

[profiles.descaler]
variables = { TARGET = "url", URL = "COM22" }
excludes = [ "worker" ]

[profiles.simulation_mvp]
variables = { TARGET = "simulation" }
excludes = [ "descaler" ]

[profiles.simulation_descale]
variables = { TARGET = "simulation", SIMULATION_EXE_PATH = "/home/usepat/GitHub/FW-sonic-firmware/build/linux/mvp_simulation_descale/test/cli/cli_simulation_descale/cli_simulation_descale" }
excludes = [ "worker" ]