output-dir="./tests_robot/results"
languages = ["en"]
default-profiles = "simulation"
skip-teardown-on-exit = true


[profiles.worker]
variables = { TARGET = "url", URL = "COM22" }
excludes = [ "descaler" ]

[profiles.descaler]
variables = { TARGET = "url", URL = "COM22" }
excludes = [ "worker" ]

[profiles.simulation]
variables = { TARGET = "simulation" }
excludes = [ "descaler" ]


