output-dir="./tests_robot/results"
languages = ["en"]
default-profiles = "worker"
skip-teardown-on-exit = true


[profiles.worker]
variables = { TARGET = "url", URL = { expr="'/dev/ttyUSB0' if platform.system() == 'Linux' else 'COM22'" }}
excludes = [ "descale" ]

[profiles.descaler]
variables = { TARGET = "url", URL = { expr="'/dev/ttyUSB0' if platform.system() == 'Linux' else 'COM22'" }}
excludes = [ "worker" ]

[profiles.simulation_mvp]
excludes = [ "descale" ]
[profiles.simulation_mvp.variables] 
TARGET = "simulation"
KWARGS = { expr="['start-configurator=false', '--product-type=worker', '--name=test_worker', '--port=4000', f'--data-dir={Path(environ.get('FIRMWARE_BUILD_DIR_PATH')) / '../output/data'}']" } 
SIMULATION_EXE_PATH = { expr="Path(environ.get('FIRMWARE_BUILD_DIR_PATH')) / 'linux/platform_linux/src/device/device_main'"} 


[profiles.simulation_descale]
excludes = [ "worker" ]
[profiles.simulation_descale.variables] 
TARGET = "simulation"
KWARGS = { expr="['start-configurator=false', '--product-type=descale', '--name=test_descale', '--port=4000', f'--data-dir={Path(environ.get('FIRMWARE_BUILD_DIR_PATH')) / '../output/data'}']" } 
SIMULATION_EXE_PATH = { expr="Path(environ.get('FIRMWARE_BUILD_DIR_PATH')) / 'linux/platform_linux/src/device/device_main'"} 

